* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%; /*  10px / 16px = 0.625 = 62.5% */
  /* trick for easy computation => 1 rem = 10px */
  overflow-x: hidden;
  /* Does NOT work on Safari and Edge :( */
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #141c3a;
  /* This only works if there is nothing 
  absolutely positioned in relation to body */
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
}

.grid--center-vertically {
  align-items: center;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.white-background {
  background-color: #fff;
}

.shadow-light {
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.3);
}
